@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

@import "https://fonts.googleapis.com/css2?family=Raleway&display=swap";s


body {
  background: $wtf;
  color: #30121e;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;

}


.answer {
  font-size: 50px;
}
